<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= user.displayName %>!</p>


    <p>Login: <%= user.login %></p>

    <p>First Name: <%= user.firstName %></p>
    <p>Last Name: <%= user.lastName %></p>
    <p>Middle Name: <%= user.middleName %></p>
    <p>Honorific Prefix: <%= user.honorificPrefix %></p>
    <p>Honorific Suffix: <%= user.honorificSuffix %></p>
    <p>Email: <%= user.email %></p>
    <p>Title: <%= user.title %></p>
    <p>Display Name: <%= user.displayName %></p>
    <p>Nickname: <%= user.nickname %></p>
    <p>Profile Url: <%= user.profileUrl %></p>
    <p>Nickname: <%= user.nickname %></p>
    <p>_raw: <%= user._raw %></p>
    <hr>
    <p>id: <%= user.id %></p>
    <p>displayName: <%= user.displayName %></p>
    <p>name: <%= user.name %></p>
    <p>familyName: <%= user.familyName %></p>
    <p>givenName: <%= user.givenName %></p>
    <p>middle name: <%= user.middleName %></p>
    <p>_raw: <%= user._raw %></p>
    <p>_raw.name: <%= user._raw.name %></p>
    <p>user.profile: <%= user.profile %></p>




    <a href="/logout">Log Out</a>

    <!--

    {
  id: '00utotrru68d5c48J356',
  displayName: 'Shirlz',
  name: { familyName: 'tommas', givenName: 'hades', middleName: 'Jen' },
  _raw: '{"sub":"00utotrru68d5c48J356","name":"Shirlz","profile":"12345","locale":"US","nickname":"Shawanda","preferred_username":"jx63king@live.cn","given_name":"hades","middle_name":"Jen","family_name":"tommas","zoneinfo":"","updated_at":1564468139}',
  _json: {
    sub: '00utotrru68d5c48J356',
    name: 'Shirlz',
    profile: '12345',
    locale: 'US',
    nickname: 'Shawanda',
    preferred_username: 'jx63king@live.cn',
    given_name: 'hades',
    middle_name: 'Jen',
    family_name: 'tommas',
    zoneinfo: '',
    updated_at: 1564468139
  }
}




    -->

  <!--  Secondary email
secondEmail
Mobile phone
mobilePhone
Primary phone
primaryPhone
Street address
streetAddress
City
city
State
state
Zip code
zipCode
Country code
countryCode
Postal Address
postalAddress
Preferred language
preferredLanguage
Locale
locale
Time zone
timezone
User type
userType
Employee number
employeeNumber
Cost center
costCenter
Organization
organization
Division
division
Department
department
ManagerId
managerId
Manager
manager-->


  </body>
</html>
